ul,ol,li,h3{
    list-style:none;
    margin: 0;
    padding: 0;
}
.red{
    color:rgb(163, 27, 27);
}
a,
a:hover,
a:active,
a:link,
a:visited{
    text-decoration: none;
}
.body_bg{
    background-color:#222D32;
    
}
.box{
    margin-top:150px;
}

.panel-title{
    text-align: center;
    line-height: 40px;
    font-size:20px;
    color:#fff;
    
}


/* 侧边栏 */
.lt_aside{
    position: fixed;
    left:0;
    top:0;
    width: 180px;
    height: 100%;
    background-color: #222D32;
    z-index:999;
    transition:transform 1s;
}
.lt_aside.hidemenu{
    transform:translate(-180px);
}
.lt_aside .title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #367FA9;
}
.lt_aside .title a{
    color:#fff;
    font-size:20px;
}
.lt_aside .title a{
    display:block;

}

.lt_aside .info img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin:0 auto;
    margin-top:30px;
}
.lt_aside .info h3{
    text-align: center;
    font-size:18px;
    color:#fff;
    margin-top:10px;
}
.lt_aside .info ul{
    margin-top:40px;
}
.lt_aside .info ul li{
    line-height: 40px;
}
.lt_aside .info ul li a{
    display:block;
    padding-left:40px;
    color:#fff;
    font-size:14px;
    border-left:3px solid transparent;

}

.lt_aside .info ul li a i{
    margin-right:5px;
}
.lt_aside .info ul .cate{
    display:none;
}
.lt_aside .info ul li .cate a{
    padding-left:60px;
}

.lt_aside .info ul li a.current{
    background-color: #1D1F21;
    border-left:3px solid #006699;
}
/* 头部 */


.main{
    padding-left:180px;
    height: 1000px;
    padding-top:50px;
    transition:all 1s;
}
.main.hidemenu{
    padding-left:0;
}
.top{
    height: 50px;
    background-color: #3C8DBC;
    width:100%;
    position: fixed;
    left:0;
    top:0;
    padding-left:180px;
    transition:all 1s;
   
}
.top.hidemenu{
    padding-left:0
}
.top a{
    display:block;
    width: 50px;
    height: 50px;
    color:#fff;
    font-size:20px;
    text-align: center;
    line-height: 50px;
}


/* 主页内容区域 */
.breadcrumb{
    margin-top:20px;
}

.chart .left,
.chart .right{
   width:48%;
    height: 400px;
 
}
.table.table-bordered th,
.table.table-bordered td{
    text-align: center;
    vertical-align: middle;

}


